.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 1.5rem 1rem;
  border-radius: 6px;
  max-width: 90vw;

  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
